<%= render "shared/header" %>

<div class="training">
  <h2 class="guidance">難易度を選んで下さい</h2>
  
  <div class="level">
    <div class="category_easy">
      <%= link_to word_image_trainings_easy1_path, class: :ctg__btn do %>
      単語<br>選択肢4つ
      <% end %>
    </div>
    <br>
    <div class="category_medium">
      <%= link_to '#', class: :ctg__btn do %>
      単語<br>選択肢9つ
      <% end %>
    </div>
    <br>
    <div class="category_hard">
      <%= link_to'#', class: :ctg__btn do %>
      短文<br>選択肢4つ
      <% end %>
    </div>
  </div>
  
  <br>
  <div class="back_category">
    <%= link_to "一つ戻る", trainings_3reading_path, class: :back__btn %>
  </div>
</div>