<%= render "shared/header" %>

<div class="training">
  <h2 class="guidance">トレーニングを選んで下さい</h2>
  
  <div class="category">
    <%= link_to "話す", '#', class: :ctg__btn %>

    <%= link_to "書く", '#', class: :ctg__btn %>

    <%= link_to "聴く", '#', class: :ctg__btn %>

    <%= link_to "読む", trainings_2reading_path, class: :ctg__btn %>

    <%= link_to "計算する", '#', class: :ctg__btn %>
  </div>
</div>